In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Comment this if the data visualisations doesn't work on your side
%matplotlib inline

plt.style.use('bmh')

In [6]:
df = pd.read_csv('./Dataset/EPA_2020T1.csv', delimiter="\t")
df.head()

,CICLO,CCAA,PROV,NVIVI,NIVEL,NPERS,EDAD5,RELPP1,SEXO1,NCONY,...,SIDI3,SIDAC1,SIDAC2,MUN1,PRORE1,REPAIRE1,TRAANT,AOI,CSE,FACTOREL
0,190,16,1,1,1,1,40,1,1,2,...,,1,1,1,,,1,04,16,244.99
1,190,16,1,1,1,2,35,2,6,1,...,,,,1,,,6,09,,244.99
2,190,16,1,1,2,3,0,3,6,0,...,,,,1,,,,,,235.10
3,190,16,1,2,1,1,45,1,6,0,...,,1,2,1,,,1,03,13,206.08
4,190,16,1,2,1,2,20,3,1,0,...,,2,2,1,,,1,06,13,206.08